@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #004AAD;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: white;
}

.logo {
    width: 200px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navs {
    display: flex;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
}

.navs > div {
    display: flex;
    align-items: center;
}

.banner1 {
    background-image: url("../assets/imgs/raissa\ leal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 50%;
}

.banner2 {
    background-image: url(../assets/imgs/Pedro-Barros2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 50%;
}

.banner1e2 {
    display: flex;
    justify-content: space-between;
}

.banner3 {
    background-image: url(../assets/imgs/evento\ rio\ de\ janeiro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.banner4 {
    background-image: url(../assets/imgs/Etapa\ Sp.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    gap: 40px;
}

.imgpatrocinadores {
   align-items: center;
   gap: 20px;
   display: flex;
   flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    gap: 40px;
}

img {
    max-width: 100px;
}

.imgpatrocinadores > img {
    width: 50px;
    height: 50px;
}

.imgtransmissoes {
    display: flex;
    flex-direction: column;
}





