@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #004AAD;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: white;
    text-decoration: none;
}

.logo {
    width: 200px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navs {
    display: flex;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
}

.navs > div {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    gap: 40px;
}

.imgpatrocinadores {
   align-items: center;
   display: flex;
   flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    gap: 40px;
    align-items: center;
}

img {
    max-width: 100px;
}

.imgpatrocinadores > img {
    width: 50px;
    height: 50px;
}

.imgtransmissoes,
.imgmedias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medias {
    display: flex;
}

.banneretaparj {
    background-image: url(../assets/imgs/pg\ etapa\ rj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.icons1 {
    display: flex;
    align-items: center;
}

.icons2 {
    display: flex;
    align-items: center;
}